extends ../admin-wrapper

block content
	section(data-jsclass="adminEditController" data-model= model data-search-property= schema.admin.listProperties[0])
		.row
			.col-xs-12
				.panel.panel-default
					.panel-heading
						.pull-right
							i.add-button.fa.fa-plus.fa-2x
							i.download-button.fa.fa-download.fa-2x
						.row
							.col-md-4
								h4= model
							.col-md-4
								.input-group
									input.form-control(type="text" name="q" value= q placeholder="Search " + model)
									span.input-group-btn
										button.btn.btn-default.search-button(type="button") Go
										
					table.table.table-condensed.table-striped.table-hover
						tr
							for property in schema.admin.listProperties
								th= property
						for instance in instances
							tr.instance-select(data-id= instance.id)
								for property in schema.admin.listProperties
									td.input-margins= instance[property]
					.panel-footer
						.pagination-container
							ul.pagination.pull-right(data-jsclass="paginationController")
								if prev != page
									<li><a href="#{uri}&p=#{prev}">&laquo;</a></li>
								else 
									<li class="disabled"><a href="#">&laquo;</a></li>
								<li id="pagination-elipsis-start" class="disabled"><a href="#"><i class="glyphicon glyphicon-option-horizontal"></i></a></li>
								- for (p = 1; p <= pages; p++) {
									if p == page
										<li class="active pagination-page"><a href="#{uri}&p=#{p}">#{p}</a></li>
									else
										<li class="pagination-page"><a href="#{uri}&p=#{p}">#{p}</a></li>
								- }
								<li id="pagination-elipsis-end" class="disabled"><a href="#"><i class="glyphicon glyphicon-option-horizontal"></i></a></li>							
								if next != page
									<li><a href="#{uri}&p=#{next}">&raquo;</a></li>
								else 
									<li class="disabled"><a href="#">&raquo;</a></li>
